/* место для вашего кода */
header {
    height: 293px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px;
}

.header_menu {
    justify-self: start;
}
.header_links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    margin: 0;
    padding: 0;
}
.header_links-list-item-no-circle {
    list-style: none;
}
.header_link {
    color: black;
    border-bottom: 1px solid  ;
    cursor: pointer;
}
.header_link-active {
    border-bottom: none;
    cursor: default;
}
.header_logo {
    display: block;
    width: 148px;
    justify-self: center;
}
.header_logo-image {
    width: 100%;  
    height: auto;
    display: block;
}
.header_address {
    justify-self: end;
    max-width: 240px;
    font-style: normal; 
    line-height: 1.35; 
    text-align: left;
}
.header_address a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid;
}
.cover {
    position: relative;
    background: url('../images/cover.jpg') center/ cover ;
    padding: 165px 50px 50px;
    color: white;
    overflow: hidden;
    
}

.cover::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.6);
  z-index: 1;
}

.cover_title {
    position: relative;
    z-index: 1;
    font-size: 100px;
    font-weight: 700;
    font-style: bold;
    letter-spacing: 30px;
    text-transform: uppercase;
    margin-bottom: 106px;
}
.align-text {
    display: block;
    margin-bottom: 20px;
}
.align-text-center {
    text-align: center;
}
.align-text-right {
    text-align: right;
}
.cover_description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ;
}

.cover_description-text {
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 18px;
    height: 28px;
}

.bet-button {
    padding: 12px 32px;
    border: 1px solid white;
    background: transparent;
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    justify-self: end;
}

.lots {
    margin: 180px 24px 120px;
}

.lots_heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}
.lots_card-list {
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
}

.lots_card-list-item {
    flex: 1 1 430px;
    min-height: 450px;
    color: #FFFFFF;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    height: 596px;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: center/cover no-repeat;

}
.card::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
     background-image: url('../images/card-lot-03.jpg');
}

.card_title {
    position: relative;
    z-index: 2;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}

.card_text {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    margin: auto 0 0 0;
    }

.lots_more-link {
    font-size: 20px;
    color: #000;
    margin-left: 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr; 
  gap: 25px;
  margin: 120px 24px 180px;
}

.about_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 auto; 
}


.about_logo-image {
  width: 148px;
  height: 114px;
}


.about_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 100px 0 0 0; 
}

.about_text {
  margin-top: 100px;
}

.about_text p {
  font-size: 20px;
  line-height: 24px;
  margin: 0 5px 25px 0;
}

.about_text p:last-child {
  margin-bottom: 0; 
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 50px 80px;
  width: 100%;
  box-sizing: border-box;
}

.footer_address,
.footer_menu,
.footer_social-list {
  margin: 0;
  padding: 0;
}

.footer_address {
  text-align: left;
}

.footer_address a,
.footer_address p {
  margin: 0;
  padding: 0;
}

.footer_address {
    max-width: 264px;
}
.footer_menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer_menu-list-item {
  margin: 0;
  padding: 0;
}

.footer_menu-link {
    text-decoration: none;
    color: black;
    border-bottom: 1px solid  ;
    cursor: pointer;
}
.footer_menu-link_active {
    cursor: default;
    text-decoration: none;
}
.footer_social-list {
  display: flex;
  gap: 48px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_social-list-item {
  margin: 0;
  padding: 0;
}

.footer_social-link {
  display: block;
}
